# Bibliotecas

In [86]:
import pandas as pd
import numpy as np

import locale
from datetime import datetime

import warnings
warnings.filterwarnings("ignore")

# Importando os dados

In [12]:
url_dados_clima = 'https://github.com/jeantorre/projeto_aplicado_MBA/blob/main/documents/dados_A652_D_2014-01-01_2024-01-31.csv?raw=true'
url_dados_dengue = 'https://github.com/jeantorre/projeto_aplicado_MBA/blob/main/documents/sinannet_cnv_denguebrj162338189_49_85_220.csv?raw=true'

df_clima = pd.read_csv(url_dados_clima, sep = ';', decimal = ',', skiprows = 10)
df_dengue = pd.read_csv(url_dados_dengue, sep = ';', skiprows = 3, encoding = 'ISO-8859-1')

In [13]:
df_clima.head(5)

,Data Medicao,"PRECIPITACAO TOTAL, DIARIO (AUT)(mm)",PRESSAO ATMOSFERICA MEDIA DIARIA (AUT)(mB),TEMPERATURA DO PONTO DE ORVALHO MEDIA DIARIA (AUT)(°C),"TEMPERATURA MAXIMA, DIARIA (AUT)(°C)","TEMPERATURA MEDIA, DIARIA (AUT)(°C)","TEMPERATURA MINIMA, DIARIA (AUT)(°C)","UMIDADE RELATIVA DO AR, MEDIA DIARIA (AUT)(%)","UMIDADE RELATIVA DO AR, MINIMA DIARIA (AUT)(%)","VENTO, RAJADA MAXIMA DIARIA (AUT)(m/s)","VENTO, VELOCIDADE MEDIA DIARIA (AUT)(m/s)",Unnamed: 11
0,2014-01-01,0.2,1004.895833,23.362500,34.2,29.825000,26.1,68.791667,55.0,7.2,1.908333,NaN
1,2014-01-02,0.0,1004.695833,22.633333,33.4,28.804167,24.7,69.916667,52.0,11.5,2.841667,NaN
2,2014-01-03,0.0,1004.341667,24.212500,32.9,29.416667,26.9,73.916667,62.0,8.0,1.879167,NaN
3,2014-01-04,0.0,1008.666667,24.816667,31.9,28.975000,26.7,78.666667,60.0,12.6,3.383333,NaN
4,2014-01-05,0.0,1011.470833,23.087500,34.4,28.187500,24.7,74.833333,55.0,7.9,4.500000,NaN

In [15]:
df_dengue.head(5)

,Mês notificação,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,Total
0,Janeiro,-,1504.0,2530.0,16669.0,1513.0,1112.0,1419.0,1011.0,75.0,78.0,1324.0,26095,53330.0
1,Fevereiro,-,1018.0,3332.0,16497.0,1372.0,1520.0,1193.0,1010.0,158.0,236.0,2835.0,49630,78801.0
2,Marco,-,816.0,9687.0,17427.0,1638.0,2656.0,2949.0,870.0,334.0,913.0,6657.0,-,43947.0
3,Abril,-,775.0,14245.0,18464.0,1314.0,2967.0,7295.0,499.0,644.0,1701.0,7673.0,-,55577.0
4,Maio,-,807.0,14702.0,10260.0,1424.0,2042.0,10303.0,300.0,457.0,3066.0,7856.0,-,51217.0

## Limpeza dados Dengue

In [17]:
df_dengue

,Mês notificação,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,Total
0,Janeiro,-,1504.0,2530.0,16669.0,1513.0,1112.0,1419.0,1011.0,75.0,78.0,1324.0,26095,53330.0
1,Fevereiro,-,1018.0,3332.0,16497.0,1372.0,1520.0,1193.0,1010.0,158.0,236.0,2835.0,49630,78801.0
2,Marco,-,816.0,9687.0,17427.0,1638.0,2656.0,2949.0,870.0,334.0,913.0,6657.0,-,43947.0
3,Abril,-,775.0,14245.0,18464.0,1314.0,2967.0,7295.0,499.0,644.0,1701.0,7673.0,-,55577.0
4,Maio,-,807.0,14702.0,10260.0,1424.0,2042.0,10303.0,300.0,457.0,3066.0,7856.0,-,51217.0
5,Junho,-,557.0,8415.0,3662.0,833.0,1139.0,4423.0,157.0,382.0,1765.0,5263.0,-,26596.0
6,Julho,-,407.0,3885.0,1934.0,602.0,941.0,1965.0,154.0,229.0,901.0,2742.0,-,13760.0
7,Agosto,-,382.0,2933.0,885.0,434.0,583.0,751.0,118.0,167.0,603.0,2303.0,-,9159.0
8,Setembro,-,381.0,1842.0,565.0,336.0,329.0,539.0,111.0,113.0,376.0,1497.0,-,6089.0
9,Outubro,-,467.0,1521.0,487.0,447.0,405.0,416.0,110.0,68.0,450.0,1764.0,-,6135.0
10,Novembro,-,307.0,2621.0,721.0,483.0,448.0,477.0,127.0,88.0,461.0,3072.0,-,8805.0
11,Dezembro,52,439.0,7953.0,1045.0,639.0,775.0,546.0,114.0,133.0,535.0,7266.0,-,19497.0
12,Total,52,7860.0,73666.0,88616.0,11035.0,14917.0,32276.0,4581.0,2848.0,11085.0,50252.0,75725,372913.0
13,Fonte: Ministério da Saúde/SVSA - Sistema de ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Notas:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Para os casos prováveis foram incluídas todas...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,As bases de dados de dengue aqui disponíveis ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,disponibilizados pelo CGARB (Coordenação Ger...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,"ano a ano, com a base congelada para cada an...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Para tabular os casos graves (classificação f...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,dengue com sinais de alarme e dengue grave) é...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,A partir de 2020 o estado do Espírito Santo p...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,urbanas do Espírito Santo foram considerados ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Períodos Disponíveis ou período - Corresponde...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,notificações com data de notificação do ano a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Para cálculo da incidência recomenda-se utili...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Dados de 2014 atualizados em 13/07/2015.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Dados de 2015 atualizados em 27/09/2016.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Dados de 2016 atualizados em 06/07/2017.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Dados de 2017 atualizados em 18/07/2018.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Dados de 2018 atualizados em 01/10/2019.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Dados de 2019 atualizados em 10/07/2020.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Dados de 2020 atualizados em 23/07/2021.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Dados de 2021 atualizados em 12/07/2022.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Dados de 2022 atualizados em 18/07/2023.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Dados de 2023 atualizados em 30/01/2024 às 14...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Dados de 2024 atualizados em 26/02/2024 às 08...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,* Dados disponibilizados no TABNET em feverei...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df_dengue.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Mês notificação  38 non-null     object
 1   2013             13 non-null     object
 2   2014             13 non-null     float64
 3   2015             13 non-null     float64
 4   2016             13 non-null     float64
 5   2017             13 non-null     float64
 6   2018             13 non-null     float64
 7   2019             13 non-null     float64
 8   2020             13 non-null     float64
 9   2021             13 non-null     float64
 10  2022             13 non-null     float64
 11  2023             13 non-null     float64
 12  2024             13 non-null     object
 13  Total            13 non-null     float64
dtypes: float64(11), object(3)
memory usage: 4.3+ KB

In [24]:
df_dengue = df_dengue.iloc[:12, :]

In [28]:
df_dengue = df_dengue.drop(columns = ['2013', 'Total'])

C:\Users\jean_\AppData\Local\Temp\ipykernel_8432\3263670133.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dengue.drop(columns = ['2013', 'Total'], inplace = True)

In [36]:
df_dengue['2024'] = pd.to_numeric(df_dengue['2024'], errors = 'coerce')

C:\Users\jean_\AppData\Local\Temp\ipykernel_8432\1920922475.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dengue['2024'] = pd.to_numeric(df_dengue['2024'], errors = 'coerce')

In [42]:
df_dengue

,Mês notificação,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Janeiro,1504.0,2530.0,16669.0,1513.0,1112.0,1419.0,1011.0,75.0,78.0,1324.0,26095.0
1,Fevereiro,1018.0,3332.0,16497.0,1372.0,1520.0,1193.0,1010.0,158.0,236.0,2835.0,49630.0
2,Marco,816.0,9687.0,17427.0,1638.0,2656.0,2949.0,870.0,334.0,913.0,6657.0,NaN
3,Abril,775.0,14245.0,18464.0,1314.0,2967.0,7295.0,499.0,644.0,1701.0,7673.0,NaN
4,Maio,807.0,14702.0,10260.0,1424.0,2042.0,10303.0,300.0,457.0,3066.0,7856.0,NaN
5,Junho,557.0,8415.0,3662.0,833.0,1139.0,4423.0,157.0,382.0,1765.0,5263.0,NaN
6,Julho,407.0,3885.0,1934.0,602.0,941.0,1965.0,154.0,229.0,901.0,2742.0,NaN
7,Agosto,382.0,2933.0,885.0,434.0,583.0,751.0,118.0,167.0,603.0,2303.0,NaN
8,Setembro,381.0,1842.0,565.0,336.0,329.0,539.0,111.0,113.0,376.0,1497.0,NaN
9,Outubro,467.0,1521.0,487.0,447.0,405.0,416.0,110.0,68.0,450.0,1764.0,NaN
10,Novembro,307.0,2621.0,721.0,483.0,448.0,477.0,127.0,88.0,461.0,3072.0,NaN
11,Dezembro,439.0,7953.0,1045.0,639.0,775.0,546.0,114.0,133.0,535.0,7266.0,NaN

In [43]:
df_dengue.at[1, '2024'] = np.nan

In [65]:
ano = '2014'
df = df_dengue[['Mês notificação', '2014']]

In [66]:
df['Periodo'] = df['Mês notificação'] + f'/{ano}'
df['Quantidade'] = df[ano]
df.drop(columns = ['Mês notificação', ano], inplace = True)

In [67]:
df

           Periodo  Quantidade
0     Janeiro/2014      1504.0
1   Fevereiro/2014      1018.0
2       Marco/2014       816.0
3       Abril/2014       775.0
4        Maio/2014       807.0
5       Junho/2014       557.0
6       Julho/2014       407.0
7      Agosto/2014       382.0
8    Setembro/2014       381.0
9     Outubro/2014       467.0
10   Novembro/2014       307.0
11   Dezembro/2014       439.0

In [87]:
anos = ['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024']
lista_df = []
locale.setlocale(locale.LC_TIME, 'pt_BR.UTF-8')

for ano in anos:
    df = df_dengue[['Mês notificação', ano]]
    meses = df['Mês notificação'].values
    meses_renomeados = ['Março' if mes == 'Marco' else mes for mes in meses]
    df['Mês notificação'] = meses_renomeados
    df['Periodo'] = df['Mês notificação'] + f'/{ano}'
    df['Periodo'] = pd.to_datetime(df['Periodo'], format = '%B/%Y', errors = 'coerce')
    df['Quantidade'] = df[ano]
    df.drop(columns = ['Mês notificação', ano], inplace = True)
    lista_df.append(df)

In [88]:
df_dengue_tratado = pd.DataFrame()

for df in lista_df:
    df_dengue_tratado = pd.concat([df_dengue_tratado, df], ignore_index = True)

In [94]:
print(df_dengue_tratado.info())

df_dengue_tratado

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132 entries, 0 to 131
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Periodo     132 non-null    datetime64[ns]
 1   Quantidade  121 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 2.2 KB
None

       Periodo  Quantidade
0   2014-01-01      1504.0
1   2014-02-01      1018.0
2   2014-03-01       816.0
3   2014-04-01       775.0
4   2014-05-01       807.0
..         ...         ...
127 2024-08-01         NaN
128 2024-09-01         NaN
129 2024-10-01         NaN
130 2024-11-01         NaN
131 2024-12-01         NaN

[132 rows x 2 columns]